.setup-container {
  padding: 2rem 0;

  .setup-card {
    background-color: var(--backgroundClr2);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .setup-title {
    color: var(--white);
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-weight: bold;
  }

  .goal-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;

    .goal-item {
      background-color: var(--white);
      border-radius: 8px;
      padding: 1rem;
      text-align: center;
      cursor: pointer;
      transition: transform 0.3s, box-shadow 0.3s;

      &:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
      }

      &.selected {
        border: 2px solid var(--primaryClr);
      }

      .goal-text {
        font-size: 1.5rem;
        color: var(--black);
      }


    }
  }

  
}

.ant-modal {
  .modal-ok-btn {
    background-color: var(--primaryClr);
    border: none;
    color: var(--white);
    &:hover {
      background-color: var(--primaryClr);
    }
  }

  .modal-cancel-btn {
    border: 1px solid var(--primaryClr);
    color: var(--primaryClr);
    &:hover {
      background-color: var(--primaryClr);
      color: var(--black);
    }
  }

}

.ant-btn {
  border-radius: 8px;
  padding: 1rem;
  cursor: pointer;
  border: none;
  background: var(--primaryClr);
  color: var(--white);

  // &:hover {
  //   background: var(--secondaryClr) !important;
  //   color: #000;
  // }

  // &.selected {
  //   background: var(--secondaryClr) !important;
  //   color: #000;
  
  // }
}

@media (max-width: 768px) {
  .goal-grid {
    flex-direction: column;
    align-items: center;
  }

  .goal-item {
    width: 80%;
  }
}

.level {
  gap: 1rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;

  .level-item {
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;

    &.ant-btn {
      border: none;

      &:hover {
        border: none;
        background: var(--secondaryClr);
        color: #000;
      }
      &.selected {
        border: 2px solid var(--primaryClr);
      }
    }
  }
}

