.about-section {
  h1, h2, h3, h4 {
    color: white;
  }

  p {
    margin-top: 20px;
    color: #555;
    line-height: 1.8;
  }

  .icon-small {
    width: 60px;
    height: 60px;
  }

  .feature-card {
    .icon-bg {
      background-color: #f5f5f5;
    }
  }
}
