
.rooms_section {
  padding: 50px 0;
  background: black;

  /* Giới hạn chiều cao và chiều rộng của ảnh */
  .slick-slide img {
    max-width: 100%;  /* Đảm bảo ảnh không vượt quá chiều rộng của phần tử chứa */
    height: auto;     /* Đảm bảo tỷ lệ khung hình không bị biến dạng */
    object-fit: cover; /* Đảm bảo ảnh được cắt cúp để phủ đầy không gian */
  }

}

@media (max-width: 1199px) {
  .rooms_section {
    .slick-slide img {
      max-width: 90%;  /* Giới hạn ảnh nhỏ hơn một chút trên màn hình nhỏ */
      height: auto;
    }
  }
}

@media (max-width: 768px) {
  .rooms_section {
    .slick-slide img {
      max-width: 100%;  /* Đảm bảo ảnh không vượt quá chiều rộng container */
      height: auto;
    }
  }
}


.call_us {
  background: url(@/assets/view10.jpg) no-repeat;
  padding: 88px 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;

  .title {
    color: var(--primaryClr);
    font-style: italic;
  }

  .heading {
    font-size: 50px;
    color: var(--white);
    line-height: 58px;
    text-align: left;
    font-weight: bold;
    padding: 5px 0 20px 0;
  }

  p {
    font-size: var(--subTitle);
    color: var(--white);
    line-height: 30px;
  }

  .secondary_btn {
    background: none;
    font-size: 18px;
    color: var(--white);
    display: inline-block;
    border: 2px solid var(--white);
    padding: 12px 8px;
    text-decoration: none;
  }

  .bounce {
    animation: bounce 2s infinite;
  }

  .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: #00000054;
    z-index: -1;
  }
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media only screen and (max-width: 1199px) {
  .call_us {
    overflow: hidden;

    .heading {
      font-size: 28px;
      line-height: 38px;
      padding: 5px 0 10px 0;
    }
  }
}

@media only screen and (max-width: 420px) {
  .call_us {
    overflow: hidden;

    .heading {
      font-size: 22px;
    }
  }
}


