.inner-banner-wrap {
    .inner-banner-container {
      background-image: url(@/assets/background.jpg);
      background-repeat: no-repeat;
      background-position: center center;
      text-align: center;
      background-size: cover;
      padding-top: 40px;
      position: relative;
  
      &::before {
        background-color: #151515;
        content: "";
        display: block;
        opacity: 0.65;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
      }
  
      .inner-banner-content {
        padding: 90px 0 75px 0;
        position: relative;
      }
    }
  }
  
  .navbar-link {
    background-color: rgba(0, 0, 0, 0.829);
  
    .breadcrumb {
      padding: 0;
      margin: 0;
  
      .breadcrumb-item,
      a {
        color: white;
        font-size: 14px;
        text-decoration: none;
        cursor: pointer;
      }
  
      .breadcrumb-item + .breadcrumb-item::before {
        color: white;
      }
    }
  }
  