.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  animation: smothScroll 1s forwards;
  background: var(--black);
  z-index: 999;
  box-shadow: var(--bs-box-shadow-sm) !important;
  color: var(--white);

  .navbar {
    .navbar-brand a,
    .offcanvas-body a {
      color: var(--white) !important;
    }

    .toggle_btn {
      color: var(--backgroundClr2) !important;
    }
  }
}

@keyframes smothScroll {
  0% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0px);
  }
}

header {
  position: absolute;
  top: 0;
  z-index: 999;
  padding: 12px 0;
  width: 100%;

  .navbar {
    .navbar-brand a {
      font-size: 22px;
      color: var(--white);
      line-height: 150%;
      font-family: var(--fontFamily1);
      font-weight: bold;
      text-transform: capitalize;
      text-decoration: none;
    }

    .offcanvas-body a {
      font-size: 14px;
      color: var(--white) !important;
      line-height: 150%;
      font-family: var(--fontFamily);
      font-weight: bold;
      text-transform: uppercase;

      &:hover {
        color: var(--primaryClr) !important;
      }
    }

    .offcanvas-body .dropdown-menu a {
      color: black !important;
    }

    .offcanvas-body .dropdown-menu {
      min-width: 12rem;
    }

    .offcanvas-body .dropdown-menu .dropdown-item {
      color: var(--black) !important;
    }
  }
}
.user-menu {
  position: relative;
  display: inline-block;

  .user-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--white);
  }

  .dropdown-menu {
    position: absolute;
    top: 40px;
    right: 0;
    background: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 10;
  }

  &:hover .dropdown-menu {
    display: block;
  }
}


@media only screen and (max-width: 991px) {
  header .navbar .toggle_btn {
    font-size: var(--bodyText);
    color: var(--white);
    border: 2px solid transparent;
    padding: 7px 10px;
    cursor: pointer;

    .bi-list::before{
      font-size: xx-large;
    }
    .bi-x-lg::before{
      font-size:large;
      padding: 5px 5px;
    }
    &:hover {
      color: var(--primaryClr);
    }
  }

  .offcanvas-header {
    border: 1px solid gainsboro;

  }

  .offcanvas-header .logo {
    font-size: 26px;
    color: var(--black) !important;
    font-family: var(--fontFamily1);
    font-weight: bold;
    text-decoration: none;
    

  }

  .offcanvas-body .nav-link {
    padding: 12px 0;
    color: var(--black);
  }

  .offcanvas-body .dropdown-item {
    padding: 12px 10px;
    color: var(--black);
  }
}
.bi-x-lg::before {
  cursor: pointer;
}

.primaryBtn{
  padding: 5px 8px !important;
  background-color: var(--primaryClr) !important;
}
.notification-btn,
.user-btn {
  color: var(--white) !important;
  font-size: 16px;
  cursor: pointer;

  .dropdown-menu {
    //background: var(--black);
    border: none;
    padding: 10px;
    border-radius: 5px;

    .dropdown-item {
      color: var(--white) !important;
      padding: 8px 12px;

      &:hover {
        background: var(--primaryClr);
        color: var(--white) !important;
      }
    }
  }
}