.filter-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding-bottom: 20px;
  
    .filter-button {
      background-color: white;
      //border: 2px solid var(--white);
      color: var(--black);
      font-weight: bold;
      padding: 20px 30px;
      border-radius: 20px;
      transition: all 0.3s ease;
  
      &:hover {
        background-color: var(--primaryClr);
        color: var(--white);
        border-color: var(--primaryClr);
      }
  
      &.active {
        background-color: var(--primaryClr);
        color: var(--white);
        border-color: var(--primaryClr);
      }
    }
  }
  

.recommendations-header1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
    
  
    .title {
      font-size: 1.5rem;
      font-weight: bold;
      color: var(--secondaryClr);

    }
    
    .see-all {
        display:flex;
        align-items: start;
        font-size: 1.2rem;
        font-weight: bold;
        color: var(--secondaryClr) !important;
        cursor: pointer;
        ;
    
        i {
          font-size: 1.2rem;
          margin-left: 8px;
          transition: transform 0.3s ease;
        }
    
        &:hover i {
          transform: translateX(5px);
        }
      }
  }

  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--secondaryClr);
  }
  
  .section-subtitle {
    font-size: 1rem;
    padding: 1rem 0rem;
    color: var(--white);
    margin-bottom: 1.5rem;
  }